
/* Casos Especiais*/
.video-grid-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.video-grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.video-grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

/* Caso Geral */

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

/* Container de vídeo */

.video-container {
    background-color: #222C3B;
    width: 300px;
    height: 180px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5);
}