@import '../styles/theme.css';

.theme-switcher {
    position: absolute;
    right: 3em;
    top: 3em;
    color: var(--text);
}

.button {
    color: var(--button_theme);
    display: flex;
    width: 40px;
    height: 40px;
}