:root {
    --background: #FAFAFA;
    --text: #222C3B;
    --button: #284DE2;
    --button_hover: #1632A2;
    --button_theme:#222C3B;
    --divider: rgba(0, 0, 0, 0.3)
}

[data-theme="dark"] {
    --background: #141E2E;
    --text: #FAFAFA;
    --button: #222C3B;
    --button_theme: white;
    --divider: #ffffff91
  }