.body {
    display: flex;
    margin: 0px;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background-color: #141e2e;
}

.up {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.down {
    display: flex;
    flex: 1;
    width: 100%;
    min-width: 722px;
    max-height: 120px;
    align-items: flex-start;
    justify-content: center;
}

.buttons {
    display: flex;
    background-color: #222C3B;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px;
    margin-inline: 25px;
    align-items: stretch;
    justify-content: center;
}

.button-icon {
    height: 30px;
    width: 30px;
}

.buttons:active {
    transform: scale(0.98);
}

.buttons:hover {
    background-color: #1632A2;
}

.callbutton {
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px;
    margin-inline: 25px;
}

.callbutton:active {
    transform: scale(0.98);
}

.callbutton:hover {
    transform: scale(1.02);
}

.copybutton {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222C3B;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px;
    margin-inline: 25px;
    font-size: 20px;
}

.copybutton:active {
    transform: scale(0.98);
}

.copybutton:hover {
    background-color: #1632A2;
}