@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');
@import '../../styles/theme.css';

* {
    font-family: 'Roboto', sans-serif;
    transition: background-color 150ms ease-in-out;
}

.divider2 {
    display: inline-flex;
    margin-top: 10%;
    margin-bottom: 7%;
    align-items: center;
    justify-content: space-between;
}

.divider {
    border-top: 4px solid var(--divider);
    border-radius: 5px;
    width: 40%;
  }

.text {
      color: var(--divider);
  }

.login_underline_text {
    color: var(--text);
    font-family: 'Roboto', sans-serif;
}

.register {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #1632A2;
}
